<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <ion-input (keyup.enter)="onSubmit()" mode="md" label-placement="floating" fill="outline"
               label="First Name" type="text" formControlName="firstName"></ion-input>
  </div>
  <div class="form-group">
    <ion-input (keyup.enter)="onSubmit()" mode="md" label-placement="floating" fill="outline"
               label="Last Name" type="text" formControlName="lastName"></ion-input>
  </div>
  <div class="form-group">
    <ion-input (keyup.enter)="onSubmit()" mode="md" label-placement="floating" fill="outline"
               label="Email" type="email" formControlName="email"
               errorText="Invalid email" email></ion-input>
  </div>
  <div class="form-group">
    <ion-button mode="ios" type="submit" fill="outline" [disabled]="!form.valid">Submit</ion-button>
  </div>
</form>
<div class="app-user-data-display">
  <b>Form First Name Value:</b> {{ form.get('firstName')?.value }}
</div>
