.app-section-title {
  display: block;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #000;
  border-bottom: 1px solid #000;
  min-height: 59px;

  a {
    color: inherit;
    text-decoration: none;
  }

  &--white {
    color: #fff;
    border-bottom-color: #fff;
  }

  @include media-breakpoint-down(lg) {
    font-size: 2.2rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.7rem;
  }
}
