<div class="app-language-choice-form">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <ion-select
          label="{{ 'language_choice_form.usage' | translate }}"
          [multiple]="true"
          formControlName="usage"
          placeholder="{{ 'language_choice_form.choice_usage' | translate }}"
          (ionChange)="clearEmptyValue($event, 'usage')">
          <ng-template ngFor let-option [ngForOf]="options?.getOptions('usageOptions')" let-i="index">
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          </ng-template>
        </ion-select>
      </div>
      <div class="col-xs-12 col-lg-6">
        <ion-select
          label="{{ 'language_choice_form.method' | translate }}"
          label-placement="floating"
          formControlName="usageMode">
          <ng-template ngFor let-option [ngForOf]="options?.getOptions('usageModeOptions')" let-i="index">
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          </ng-template>
        </ion-select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <ion-select
          label="{{ 'language_choice_form.features' | translate }}"
          [multiple]="true"
          formControlName="features"
          placeholder="{{ 'language_choice_form.choice_features' | translate }}"
          (ionChange)="clearEmptyValue($event, 'features')">
          <ng-template ngFor let-option [ngForOf]="options?.getOptions('featuresOptions')" let-i="index">
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          </ng-template>
        </ion-select>
      </div>
      <div class="col-xs-12 col-lg-6">
        <ion-select
          label="{{ 'language_choice_form.method' | translate }}"
          label-placement="floating"
          formControlName="featuresMode">
          <ng-template ngFor let-option [ngForOf]="options?.getOptions('usageModeOptions')" let-i="index">
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          </ng-template>
        </ion-select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <ion-select
          label="{{ 'language_choice_form.minimum_performance' | translate }}"
          label-placement="floating"
          formControlName="minimumPerformanceLevel"
          interface="action-sheet">
          <ion-select-option [value]="null">---</ion-select-option>
          <ng-template ngFor let-option [ngForOf]="options?.getOptions('minimumPerformanceLevelOptions')" let-i="index">
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          </ng-template>
        </ion-select>
      </div>
      <div class="col-xs-12 col-lg-6">
        <ion-select
          label="{{ 'language_choice_form.minimum_popularity' | translate }}"
          label-placement="floating"
          formControlName="minimumPopularityLevel"
          interface="action-sheet">
          <ion-select-option [value]="null">---</ion-select-option>
          <ng-template ngFor let-option [ngForOf]="options?.getOptions('minimumPopularityLevelOptions')" let-i="index">
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          </ng-template>
        </ion-select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6 order-last order-lg-0">
        <app-language-user-experience-filter
          (itemsUpdatedEvent)="onUserExperienceUpdated($event)"
          [userExperienceLevelOptions]="options?.getOptions('userExperienceLevelOptions') ?? []">
        </app-language-user-experience-filter>
      </div>
      <div class="col-xs-12 col-lg-6" [formGroup]="formPackage">
        <ion-select
          label="{{ 'language_choice_form.package' | translate }}"
          interface="action-sheet"
          formControlName="package"
          placeholder="{{ 'language_choice_form.choice_package' | translate }}"
          (ionChange)="onPackageChange($event)">
          <ng-template ngFor let-name [ngForOf]="getPackageNames()" let-i="index">
            <ion-select-option [value]="getPackageOptionValue(name)">
              {{ name }}
            </ion-select-option>
          </ng-template>
        </ion-select>
      </div>
    </div>
    <div class="app-language-choice-form__button">
      <ion-select
        class="app-language-choice-form__for-year-select"
        label="{{ 'language_choice_form.popularity_for_year' | translate }}"
        label-placement="floating"
        formControlName="popularityForecastYear"
        interface="action-sheet">
        <ion-select-option [value]="null">2023</ion-select-option>
        <ng-template ngFor let-option [ngForOf]="options?.getOptions('popularityForecastYears')" let-i="index">
          <ion-select-option [value]="option.value">
            {{ option.label }} - {{ 'language_choice_form.forecast_data' | translate }}
          </ion-select-option>
        </ng-template>
      </ion-select>
      <ion-button
        fill="outline"
        (click)="onSubmit()"
        [disabled]="!isFilled() && !formDisabled">
        {{ 'language_choice_form.button' | translate }}
      </ion-button>
    </div>
  </form>
</div>
