<ng-template #paragraph>
  <p>
    <b>Lorem Ipsum</b> is simply dummy text of the <i>printing and typesetting</i> industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the <a href="#">1500s</a>, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised in the <a href="#">1960s</a> with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</ng-template>
<ng-template #title>Lorem Ipsum</ng-template>
<div class="container">
  <h1>
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </h1>
  <ng-container *ngTemplateOutlet="paragraph"></ng-container>

  <h2>
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </h2>
  <ng-container *ngTemplateOutlet="paragraph"></ng-container>

  <h3>
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </h3>
  <ng-container *ngTemplateOutlet="paragraph"></ng-container>

  <h4>
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </h4>
  <ng-container *ngTemplateOutlet="paragraph"></ng-container>

  <h5>
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </h5>
  <ng-container *ngTemplateOutlet="paragraph"></ng-container>

  <h6>
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </h6>
  <ng-container *ngTemplateOutlet="paragraph"></ng-container>

  <blockquote class="blockquote">
    <p>A well-known quote, contained in a blockquote element.</p>
  </blockquote>
</div>
