<div class="container">
  <h2>Cards Demo</h2>
  <div class="row">
    <ng-template ngFor [ngForOf]="rows">
      <ng-template ngFor [ngForOf]="cols">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <ion-card class="card-demo" mode="md">
            <div class="card-demo__image">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </div>
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
